[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
sqlalchemy = "*"
pytest = "*"
pycodestyle = "*"
tox = "*"
richbench = "*"
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.8"
